:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* css custom nút tab */
.custom-tabs .nav-link {
  border: 1px solid #ccc !important;
  border-radius: 30px !important;
  min-width: 300px !important;
  padding: 10px 30px !important;
  margin-right: 20px;
  background: #f3f3f3;
  color: #333 !important;
  font-weight: 600;
  border: none;
}

.custom-tabs .nav-link.active {
  background: #b3e4c9 !important;
}

.custom-tabs .nav-item.show .nav-link,
.custom-tabs .nav-link.active {
  border: none !important;
}

/* custom placeholder input email */
/* Sử dụng pseudo-element ::placeholder */
.custom-placeholder::placeholder {
  color: #9d9ea2; /* Màu chữ gợi ý (giống trong hình ảnh coupon) */
  opacity: 1; /* Đảm bảo chữ không bị mờ (vì một số trình duyệt mặc định mờ) */
  font-style: italic; /* Ví dụ: Thêm style italic */
}

/* Các tiền tố trình duyệt cũ (thường không cần thiết cho các trình duyệt hiện đại) */
.custom-placeholder::-webkit-input-placeholder {
  color: #9d9ea2;
}

.custom-placeholder:-ms-input-placeholder {
  color: #9d9ea2;
}
/************trang homepage*************************/
section {
    scroll-margin-top: 100px;
}
h2 {
    position: relative;
    padding-left: 15px;
}
h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 70%;
    background-color: #e31837;
    border-radius: 2px;
}


/**************  thiết kê css cho giỏ hàng header client page ****************/
.card {
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* bóng mượt */
}



 .cart-pill {
    background-color: white;
    padding: 4px 8px 4px 12px;
    border-radius: 50px; /* Bo tròn kiểu viên thuốc */
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
  }

  .cart-pill:hover {
    background-color: #f8f9fa;
    border-color: #ffc107; /* Màu vàng nhẹ khi hover giống logo */
  }

  /* Định dạng Icon FontAwesome */
  

  .cart-label {
    color: #05422C;
    font-weight: 600;
    font-size: 0.9rem;
  }

  /* Số 0 màu đỏ sát lề phải */
  .cart-count {
    background-color: #e31837; /* Màu đỏ thương hiệu pizza */
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    min-width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  /*********** end thiết kê css cho giỏ hàng header client page ***************/


  /********************footer**************************/
  .social-icon {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .social-icon:hover {
    background-color: white;
    color: #05422C;
  }
  li:hover a {
    opacity: 1 !important;
    padding-left: 5px;
    transition: 0.3s;
  }

