.card {
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* bóng mượt */
}

/* custom input */
input[type="radio"] {
  appearance: none; /* tắt giao diện mặc định */
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: #00b341;
  background-color: #00b341;
}

input[type="radio"]:checked::after {
  content: "";
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
